.accardion-container__title {
    @include h2();
    margin: 0;
    padding-bottom: 50px;
    width: 100%;
}

@media screen and (min-width: 1440px) {
  .accardion-container__title {
    letter-spacing: $title-letter-spacing;
  }
}
