.card__paragraph_type_histories-large {
  padding: 0;
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .card__paragraph_type_histories-large {
    max-width: 444px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .card__paragraph_type_histories-large {
    margin: 0;
    max-width: 877px;
    font-size: 20px;
  }
}


