.card__paragraph_type_histories-large {
  padding: 0;
  width: 100%;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .card__paragraph_type_histories-large {
    margin-top: 20px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1440px) {
  .card__paragraph_type_histories-large {
    margin: 0;
    max-width: 660px;
    font-size: 16px;
  }
}


