.header__buttons-container {
  display: flex;
  column-gap: 16px;
  margin-left: 308px;

  @media (max-width: 1439px) {
      margin-left: auto;
  };
  @media (max-width: 767px) {
    display: none;
  };
}