.card_type_employers {
  width: 440px;
  min-height: 428px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1439px) {
  .card_type_employers {
    width: 450px;
    gap: 10px;
    min-height: 288px;
  }
}

@media screen and (max-width: 767px) {
  .card_type_employers {
    max-width: 300px;
    padding: 24px;
    min-height: 293px;
  }
}
