.card_type_histories-large {
  max-width: 1360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card_type_histories-large:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1440px) {
  .card_type_histories-large {
    max-width: 687px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .card_type_histories-large {
    max-width: 300px;
    padding: 0;
    flex-direction: column;
  }
}
