.card_type_histories-large {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .card_type_histories-large {
    width: 688px;
  }
}

@media screen and (min-width: 1440px) {
  .card_type_histories-large {
    width: 1360px;
  }
}
