.card_type_directions {
  max-width: 424px;
  width: 100%;
  aspect-ratio: 1/0.972;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1439px) {
  .card_type_directions {
    max-width: 334px;
    gap: 10px;
    aspect-ratio: 0;
  }
}

@media screen and (max-width: 768px) {
  .card_type_directions {
    max-width: 300px;
    padding: 24px;
    aspect-ratio: 0;
  }
}


