.card_type_histories-small {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 
  "avatar name"
  "avatar slogan"
  "avatar audio";
  gap: 20px;
  background-color: $light-purple;
  box-sizing: border-box;
  
}

@media screen and (max-width: 1439px) {
  .card_type_histories-small {
    gap: 16px;
    grid-template-columns: 120px 1fr;
   row-gap: 6px;
   padding: 25px 20px;
   
  }
}

@media screen and (max-width: 767px) {
  .card_type_histories-small {
    grid-template-columns: 26% 1fr;
    row-gap: 0;
    padding: 16px;
    grid-template-columns: 80px 1fr;
  }
}


