.audience__card-text {
  @include main-text;
  max-width: 333px;

  line-height: $base-line-height;
  padding-top: 20px;

  @media screen and (max-width: 1439px) {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  @media screen and (min-width: 1440px) {
      line-height: 130%;
    }
}

.audience__card-list .card:nth-child(2) .audience__card-text,
.audience__card-list .card:nth-child(3) .audience__card-text {
  padding-bottom: 37px;

  @media screen and (max-width: 1439px) {
    padding-bottom: 14px;
  }
}
