.button {
    background-color: unset;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    
    &:disabled {
        border: 2px solid $grey-disabled;
        color: $grey-disabled;
    }
}