.accordions__container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 1439px) {
    .accordions__container {
        flex-direction: column;
        gap: 18px;
    }
}