.card_histories_small {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .card_histories_small {
    width: 334px;
  }
}

@media screen and (min-width: 1440px) {
  .card_histories_small {
    width: 670px;
  }
}
