.donate-form__payment-slider {
	margin: 16px 0 19px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;

	@media (min-width: 768px) {
		margin: 24px 0 48px;
		flex-direction: row;
		gap: 11px;
  }

	@media (min-width: 1440px) {
		margin: 16px 0 41px;
		gap: 8px;
  }
}