.body {
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-family: $base-font-family;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background: rgb(8, 80, 203);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(7, 57, 144);
  }
}