.accordion {
    width: 46.5%;
       padding: 0 20px;
    box-sizing: border-box;
    border: 2px solid $grey-outline;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    font-family: $base-font-family;

    &__header {
         padding: 27.5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }


    &__title {
        @include h4();
        margin: 0;
        width: calc(100% - 50px);
        overflow-wrap: break-word;
    }

    &__body {
        @include main-text();
        @include animation();
        margin: 0;
        max-height: 0;
        overflow-wrap: break-word;
        overflow-y: hidden;

        &::-webkit-scrollbar-track {
            border-radius: 4px;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: $light-grey;
        }
    }
}

@media (max-width: 1440px) {
    .accordion {
        border-radius: 15px;

        &__header {
            padding: 20px 20px;
        }
    }
}

@media (max-width: 768px) {
    .accordion {
        margin-bottom: 15px;
        width: 100%;
        @include h3();
        
        &__header {
            padding: 11px 18px;
        }

        &__body {
            padding: 0 16px;
        }
    }
}