.accordion {
  @include animation();
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border: 2px solid $grey-outline;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 1439px) {
        border-radius: 20px;
  }

  @media (max-width: 767px) {
        border-radius: 15px;
        padding: 0 16px;
        width: 100%;
  }
}
