.intro__buttons-container {
  width: 95px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - 47.5px);
  bottom: 0;
  align-items: center;

  @media (min-width: 768px) {
    width: 97px;
    left: 0;
  }

  @media (min-width: 1440px) {
    width: 126px;
    bottom: 0;
  }
}
