.slider-button {
    background-color: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;

    &::after {
        @include arrow-icon;
        width: 17px;
        height: 17px;
        background-color: $white-background;
        cursor: pointer;
    };

    &:disabled {
        background-color: $grey-disabled;

        &::after {
            background-color: #262626;
            opacity: 0.5;
        };
    }
}

@media (max-width: 768px) {
    .slider-button {
        padding: 7px;
        &::after {
            width: 10px;
            height: 10px;
        }

    }
    
}