.donate-form__input-header {
	@include h5;
	text-align: center;
	margin: 0;
	padding: 0 14px;
	position: relative;
	z-index: 1;
	background-color: #fff;

	@media (min-width: 768px) {
    @include h4;
  }

	@media (min-width: 1440px) {
    @include h5;
		padding: 0 10px;
  }
}