.card__link-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .card__link-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .card__link-icon {
    width: 40px;
    height: 40px;
  }
}
