.header__container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
  min-height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 0 10px;
    min-height: 54px;
  };
}