.spec-projects__buttons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 24px;
  width: 56px;
  right: 24px;

  @media screen and (min-width: 768px) {
    width: 56px;
    right: calc(50% - 28px);
    bottom: 30px;
    top: unset;
  }

  @media screen and (min-width: 1440px) {
    width: 78px;
    right: calc(50% - 39px);
  }
}
