.audience__card-link {
  @include button-text;
  font-family: $base-font-family;
  line-height: $base-line-height;
  grid-area: button;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .audience__card-link {
    margin-top: auto;
  }
}

@media screen and (max-width: 768px) {
  .audience__card-link {
    margin-top: auto;
  }
}
