.intro__container {
  position: relative;
  width: 100%;
  padding: 50px 10px 40px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 56px 40px 50px;
    min-height: 296px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding-top:50px;
    min-height: 705px;
  }
}
