.card__link {
  border-radius: 10px;
  font-weight: $font-weight-medium;
  line-height: 120%;
  font-size: 14px;
  width: 120px;
  height: 37px;
}

@media screen and (min-width: 768px) {
  .card__link {
    font-size: 16px;
    width: 139px;
    height: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .card__link {
    width: 158px;
    height: 44px;
    font-size: 20px;
  }
}
