.card__link_type-histories-large {
  margin-top: 16px;
  grid-area: button;
}

@media screen and (min-width: 768px) {
  .card__link_type-histories-large {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .card__link_type-histories-large {
    margin-top: 0;
  }
}
