.popup__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 20px;
  padding: 0;
  margin: 0;

  @media (max-width: 1439px) {
    row-gap: 14px;
  };
  @media (max-width: 767px) {
    display: none;
    max-width: 270px;
    row-gap: 9px;
  }
}