.spec-projects__details-link {
  @include button-text;
  @extend .button;
  @extend .button_secondary-bright;
  width: 250px;
  height: 44px;
  align-self: center;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    grid-area: details;
    width: 200px;
    align-self: flex-end;
    margin-top: 37px;
  }

  @media screen and (min-width: 1440px) {
    width: 194px;
    height: 48px;
  }
}
