.directions__card-text {
  @include main-text;
  max-width: 380px;
  width: 100%;
  line-height: $base-line-height;
}

@media screen and (max-width: 1439px) {
  .directions__card-text {
    padding-bottom: 10px;
    padding: 10px 0 0;
  }
}
