.directions__card-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 20px 20px;

  @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(3, max-content);
      justify-content: center;
    }

  @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, max-content);
      grid-template-rows: repeat(6, max-content);
      row-gap: 16px;
      justify-content: center;
  }
}
