.section-container {
	max-width: 1440px;
	padding: 32px 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.section-container {
		padding: 50px 40px;
	}
}

@media screen and (min-width: 1440px) {
	.section-container {
		padding: 100px 40px;
	}
}
