.numbers__title {
  width: max-content;
  margin: 0;
  margin-bottom: 24px;
  @include h2();
}

@media screen and (min-width: 768px) {
  .numbers__title {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .numbers__title {
    margin-bottom: 50px;
  }
}
