.numbers__title {
  width: max-content;
  margin: 0 0 24px 0;
  @include h2;
  
}

@media screen and (min-width: 768px) {
  .numbers__title {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .numbers__title {
    margin-bottom: 50px;
  }
}
