.intro__image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  width: 55.92%;
  aspect-ratio: 1.0625/1;

  @media screen and (min-width: 768px) {
    width: 69.67%;
    aspect-ratio: .9714/1;
  }

  @media screen and (min-width: 1440px) {
    width: 392px;
    height: 407px;
    aspect-ratio: unset;
  }
}
