.intro__image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  max-width: 170px;
  max-height: 160px;

  @media screen and (min-width: 768px) {
    max-height: 175px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 392px;
    max-height: 407px;
  }
}
