.card__histories-quotes {
  display: grid;
  grid-template-columns: 60px max-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "quote title-quote"
    "quote paragraph-quote"
    "quote button";
  gap: 20px 20px;
  outline: 1px solid red;
}

@media screen and (max-width: 1440px) {
  .card__histories-quotes {
    grid-template-columns: max-content;
    grid-template-rows: 28px min-content min-content min-content;
    grid-template-areas:
      "quote"
      "title-quote"
      "paragraph-quote"
      "button";
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .card__histories-quotes {
    grid-template-rows: 24px min-content min-content min-content;
  }
}
