.header__menu-button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0;
  margin-left: 409px;
  border: none;
  background: none;
  cursor: pointer;
  
  @media (max-width: 1439px) {
    margin-left: 24px;
    order: 1;
  };
  @media (max-width: 767px) {
    margin-left: auto;
  };
}