.spec-projects__slider-item {
  min-width: 100%;
  list-style-type: none;
  border-radius: 20px;
  padding: 27px 24px 24px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 30px;
    display: grid;
    grid-template-areas:
      "subtitle . photo"
      "title . photo"
      "description . photo"
      "details . photo";
    grid-template-columns: 53.98% 1fr 41.24%;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 30px;
    grid-template-columns: 603px 1fr 555px;
  }
}
