.stories__button {
  align-self: center;
  width: 194px;
  margin-right: 18px;

  @media (max-width: 1439px) {
    margin: 40px auto 0;
    justify-self: center;
  }

  @media (max-width: 767px) {
    margin-top: 24px;
    width: 100%;
  }
}
