.spec-projects__description {
  @include main-text;
  color: $black-card-text;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  // overflow: hidden;
  max-height: 68px;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    grid-area: description;
    width: 92.92%;
    min-height: calc(76px + 24 * ((100vw - 768px) / 672));
    font-size: calc(16px + 4 * ((100vw - 768px) / 672));
  }

  @media screen and (min-width: 1440px) {
    width: 427px;
    max-height: 100px;
    font-size: 20px;
    padding-top: 20px;
  }
}
