.spec-projects__description {
  @include main-text;
  color: $black-card-text;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
  max-height: 68px;

  @media screen and (min-width: 768px) {
    grid-area: description;
    width: 92.92%;
    max-height: 76px;
  }

  @media screen and (min-width: 1440px) {
    width: 427px;
    max-height: 100px;
  }
}
