.card__image_type_best-projects {
  aspect-ratio: 0.9565/1;
  max-height: unset;
}

@media (max-width: 786px){
  .card__image_type_best-projects {
    border-radius: 20px;
    aspect-ratio: 1/1;
  }
}
