@media screen and (max-width: 1440px) {
  .card__avatar_type_histories-large {
    margin-top: 38px;
  }
}

@media screen and (max-width: 768px) {
  .card__avatar_type_histories-large {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
}
