.card__avatar_type_histories {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .card__avatar_type_histories {
    width: 204px;
    height: 204px;
    border-radius: 102px;
  }
}

@media screen and (min-width: 1440px) {
  .card__avatar_type_histories {
    width: 224px;
    height: 224px;
    border-radius: 112px;
  }
}
