.card__avatar_type_histories-large {
  width: 224px;
  height: 224px;

  @media screen and (max-width: 1439px) {
    & {
      padding: 23px 0;
      width: 204px;
      height: 204px;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      padding: 0;
      width: 80px;
      height: 80px;
    }
  }
}
