.card__quote-img {
  min-width: 35px;
  align-self: flex-start;
  background: center / contain no-repeat url(./../images/quoteIcon.png);
  height: 60px;

  @media screen and (max-width: 1439px) {
    & {
      width: 28px;
      height: 28px;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      width: 24px;
      height: 24px;
    }
  }
}
