.card__quote-img {
  width: 35px;
  grid-area: quote;
  margin-left: 78px;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .card__quote-img {

  }
}

@media screen and (max-width: 1440px) {
  .card__quote-img {

  }
}
