.card {
  border-radius: 30px;
  background-color: #FFFFFF;
  background-color: #928333;
  overflow: hidden;
  font-family: $base-font-family;
  font-weight: $font-weight-regular;
  color: $black-card-text;
  line-height: $base-line-height;
}
