.link {
    @include button-text();
    @include animation();
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
  
    &::after {
        @include arrow-icon;
        margin-left: 14px;
        width: 16px;
        height: 16px;
    }
    ;

    &:hover,
    &:active {
        color: $white-background;

        &::after {
            background-color: $white-background;
        }
    }
}

@media (max-width: 767px) {
  .link {

      &::after {
          width: 13px;
          height: 13px;
      }

  }

}
