.link_color_orange {
    background-color: #FEEFEA;
    color: #E98509;

    &::after {
        background-color: #E98509;
    }

    &:hover {
        background-color: #E98509;
    }
    
    &:active {
        background-color: #864A00;
    }
    
}