.link_color_white {
    color: #333333;

    &::after {
        background-color: #333333;
    }

    &:hover {
        color: #00275C;
        &::after {
            background-color: #00275C;
        }
    }

    &:active {
        color: #0C4BA0;
        &::after {
            background-color: #0C4BA0;
        }
    }
    
    &[disabled] {
        background-color: white;
        pointer-events: none;
        color: #C4C4C4;
    }
}