.projects__button {
  @include button-text;
  width: 100%;
  align-self: center;
  margin-top: 22px;
  text-decoration: none;
  box-sizing: border-box;
  height: 44px;

  @media screen and (min-width: 768px) {
    width: 200px;
    margin-top: 33px;
  }

  @media screen and (min-width: 1440px) {
    width: 204px;
    height: 48px;
    margin-top: 47px;
  }
}
