.directions__title {
  @include h2;
  max-height: 77px;
  padding: 0 0 50px 0;
  margin: 0;
  
  line-height: $base-line-height;
}

.directions__title_type_mobile {
  display: none;
}

@media screen and (max-width: 1439px) {
  .directions__title_type_desktop {
    display: none;
  }

  .directions__title_type_mobile {
    display: block;
  }

  .directions__title {
    max-height: 86px;
    max-width: 420px;
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .directions__title {
    max-height: 62px;
    max-width: 300px;
    padding: 0 0 24px 0;
    text-align: start;
  }
}
