.numbers {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  color: $black-card-text;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .numbers {
    max-width: 688px;
  }
}

@media screen and (min-width: 1440px) {
  .numbers {
    max-width: 1360px;
  }
}
