.spec-projects__image {
  width: 100%;
  aspect-ratio: 1.4111/1;
  object-fit: cover;
  overflow: hidden;
  align-self: center;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    grid-area: photo;
    aspect-ratio: 0.9119/1;
    max-height: 100%;
    justify-self: self-end;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 30px;
    aspect-ratio: 1.4122/1;
  }
}
