//картинка для секции Новости
.card__image {
  aspect-ratio: 1/0.7947;
  width: 100%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 30px;

  @media (max-width: 1439px){
    & {
      border-radius: 20px;
    }
  }
}
