.button-link {
  @include button-text();
  @include animation();
  padding: 12px 10px 12px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-decoration: none;

  &::after {
    @include arrow-icon;
    margin-left: 10px;
    width: 24px;
    height: 24px;

    @media (max-width: 1439px) {
      & {
        width: 20px;
        height: 20px;
      }
    }
  }

  &:hover,
  &:active {
    color: $white-background;

    &::after {
      background-color: $white-background;
    }
  }
}
