.accordion-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .accordion-container {
        flex-direction: column;
        gap: 18px;

        &__column {
            width: 100%;
            gap: 18px;
        }
    }
}