.donate__header {
	@include h2;
	margin: 0;
	margin-bottom: 24px;
	text-align: center;
  letter-spacing: $title-letter-spacing;

	@media (min-width: 1440px) {
    text-align: left;
		margin-bottom: 50px;
  }
}
