.card__title_type_histories-large {
  grid-area: title-quote;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
  max-width: 300px;
}

@media screen and (min-width: 768px) {
  .card__title_type_histories-large {
    max-width: 444px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .card__title_type_histories-large {
    max-width: 877px;
    font-size: 36px;
  }
}
