.card__title_type_histories-large {
  margin: 0;
  width: fit-content;
  word-wrap: break-word;
  @include h4();
}

@media screen and (max-width: 1440px) {
  .card__title_type_histories-large {
    max-width: 660px;
  }
}


