.card__title_type_employers {
  @include h4;
  max-height: 77px;
  margin: 0;
  
  line-height: $base-line-height;
}

@media screen and (max-width: 1439px) {
  .card__title_type_employers {
    @include h3;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .card__title_type_employers {
    @include h3;
  }
}

@media screen and (max-width: 767px) {
  .card__title_type_employers {
    @include h3;
    padding-top: 10px;
  }
}
