.card__title_type_histories-large {
  grid-area: title-quote;
  margin: 0;
  padding: 0;
  max-width: 877px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .card__title_type_histories-large {
    max-width: 444px;
    /* margin-top: 20px; */
  }
}

@media screen and (max-width: 768px) {
  .card__title_type_histories-large {
    max-width: 300px;
    /* margin-top: 16px; */
  }
}
