.footer__partner {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 37px;

  @media (max-width: 1439px) {
    padding-top: 50px;
    column-gap: 11px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 35px;
    row-gap: 5px;
    order: 3;
  }
}