// Colors

// Цвета для фона карточек, иконок
$light-blue: #E7F0FF;
$light-pink: #FEEFEA;
$light-green: #DAEFD5;
$light-purple: #EAE6FF;
// Цвета для текста карточек
$blue-card-text: #0C4BA0;
$orange-card-text: #E98509;
$green-card-text: #319B17;
$purple-card-text: #8B75FF;
$black-card-text: #333333;
// Основной цвет для background и фона карточек
$white-background: #FFFFFF;
// Цвета для фона блоков
$light-grey: #F5F5F5; // так же используется переменная $light-blue
// Цвет для обводки элементов
$grey-outline: #DADADA;
// Цвета для лейки (раздел с теми, кто пожертвовал)
$grey-40: rgba(0, 0, 0, 0.4);
$grey-30: rgba(0, 0, 0, 0.3);
$grey-20: rgba(0, 0, 0, 0.2);
$grey-10: rgba(0, 0, 0, 0.1);
// Цвета кнопок primary, secondary в состоянии hover, disabled
$blue-hover: #4183DC;
$grey-disabled: #C4C4C4;
// Цвета кнопок в карточках в состоянии pressed ( в зависимости от цвета кнопки)
$blue-pressed: #00275C;
$orange-pressed: #864A00;
$green-pressed: #0E4900;
$purple-pressed: #4935B5;




// Fonts

$base-font-family: 'Raleway', Arial, sans-serif;
$base-line-height: 120%;
// Weights
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-medium: 500;
// Mixins
@mixin text-styles($desktop, $tablet, $mobile, $weight: $font-weight-regular) {
  font-size: $mobile;
  font-weight: $weight;
  line-height: $base-line-height;

  @media (max-width: 768px) {
    font-size: $tablet;
  }

  @media (max-width: 1440px) {
    font-size: $desktop;
  }
}
// Text types mixins
@mixin h1 {
  @include text-styles(72px, 38px, 28px, $font-weight-bold);
}

@mixin h2 {
  @include text-styles(64px, 36px, 26px, $font-weight-bold);
}

@mixin h3 {
  @include text-styles(36px, 26px, 18px, $font-weight-bold);
}

@mixin h4 {
  @include text-styles(34px, 20px, 16px, $font-weight-bold);
}

@mixin h5 {
  @include text-styles(24px, 16px, 14px, $font-weight-bold);
}

@mixin big-text {
  @include text-styles(20px, 16px, 14px, $font-weight-bold);
}

@mixin main-text {
  @include text-styles(20px, 16px, 14px, $font-weight-regular);
}

@mixin small-text {
  @include text-styles(18px, 14px, 12px, $font-weight-medium);
}

@mixin button-text {
  @include text-styles(20px, 16px, 14px, $font-weight-medium);
}



// Animations

$animation-transition-time: 0.3s;
$animation-easing: ease-in-out;
// Mixins
@mixin animation($duration: $animation-transition-time, $easing: $animation-easing) {
  transition: all $duration $easing;
}

