.footer__contacts {
  display: flex;
  align-items: center;
  column-gap: 53px;
  padding-top: 52px;
  

  @media (max-width: 1439px) {
    padding-top: 19px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }
  @media (max-width: 767px) {
    padding-top: 42px;
    row-gap: 10px;
  }
}