.projects__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-row-gap: 30px;

  @media screen  and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(334px, auto));
    grid-template-rows: 1fr;
    overflow-y: hidden;
    grid-row-gap: 0;
    grid-column-gap: 20px;
    grid-auto-rows: 0;
    justify-content: center;
  }

  @media screen  and (min-width: 1440px) {
    grid-template-columns: repeat(3, max-content);
  }
}

