.audience__title {
  @include h2;
  font-family: $base-font-family;
  line-height: $base-line-height;
  margin: 0;
  padding-bottom: 50px;
}

@media screen and (max-width: 1439px) {
  .audience__title {
    text-align: center;
  }
}

