.audience__title {
  padding-bottom: 50px;
  max-width: 1360px;
}

@media screen and (max-width: 1439px) {
  .audience__title {
    text-align: center;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .audience__title {
    padding-bottom: 24px;
  }
}

