.intro__image-top {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 190px;
  max-height: 144px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 184px;
    max-height: 152px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 352px;
    max-height: 315px;
  }
}
