.intro__image-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.33%;
  aspect-ratio: 1.3194/1;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 75.4%;
    aspect-ratio: 1.2105/1;
    top: 14px;
  }

  @media screen and (min-width: 1440px) {
    top: 0;
    width: 352px;
    height: 315px;
    aspect-ratio: unset;
  }
}
