// иконка в секции для кого мы работаем
.card__icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    & {
      width: 64px;
      height: 64px;
    }
  }
}
