.button_secondary-bright {
    color: #333333;
    border: 1px solid #333333;

    &:hover {
        padding: 11px 15px;
        border: 2px solid #333333;
    }
    
    &:active {
        color: white;
        background-color: #333333;
    }
}