.button_type_primary {
  color: $white-background;
  background-color: $blue-card-text;

  &:hover {
    text-decoration: none;
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-pressed;
  }
}
