.accordion_opened {
    .accordion__body {
        padding-bottom: 20px;
        max-height: 150px;
    }

    .accardion__button {
        background-color: $blue-card-text;
        &::before {
            background-color: $white-background;
            transform: rotate(-45deg);
        }
    };
}


@media (max-width: 1440px) {
    .accordion_opened {
        .accordion__body {
            padding-bottom: 11px;
            max-height: 150px;
        }
    }
}

@media (max-width: 768px) {
    .accordion_opened {
        .accordion__body {
            padding-bottom: 16px;
        }
    }
}