.projects {
  background-color: $light-grey;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 1439px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
