.intro {
  width: 100%;
  font-family: $base-font-family;
  margin: auto;
  padding: 50px 10px 40px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 56px 40px 50px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
