.stories__audio {
  padding: 0;
  margin-top: 50px;
    grid-area: audio;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    .stories__audio {
      flex-direction: column;
      gap: 16px;
    }
  }