.stories {
  font-family: $base-font-family;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content;
  grid-template-areas:
    "title button"
    "text text"
    "audio audio";
  gap: 50px 20px;
}

@media (max-width: 1440px) {
  .stories {
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "text"
      "audio"
      "button";
  }
}

@media (max-width: 768px) {
  .stories {
    gap: 25px 20px;
  }
}
