.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  
  @media (max-width: 1439px) {
    box-shadow: 0px 4px 30px rgba(42, 48, 56, 0.1);
  }
}