.numbers__statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 300px;
  width: 100%;
  order: 1;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .numbers__statistic {
    max-width: 334px;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .numbers__statistic {
    max-width: 325px;
    gap: 5px;
  }
}
