.numbers__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .numbers__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
