.accardion-button {
    border: none;
    outline: unset;
    padding: 13px;
    border-radius: 20px;
    background-color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    &::before {
        @include cross-icon;
        background-color: $blue-card-text;
        width: 19px;
        height: 19px;
        transition: transform 0.3s ease-in-out;
    };

    &:hover {
        background-color: $blue-card-text;

        &::before {
            background-color: $white-background;
        }

    };

    &[disabled] {
        background-color: $grey-disabled;

        &::before {
            background-color: #262626;
            opacity: 0.5;
        }
    }
}

@media (max-width: 768px) {
    
    .accardion-button {
        padding: 12px;
        &::before {
            width: 14px;
            height: 14px;
        }
    }
    
}