.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255, 1);
  justify-content: center;
  left: 0;
  top: 80px;
  transition: visibility .2s linear, opacity .2s linear;
  
  @media (max-width: 400px) {
    top: 54px;
    justify-content: flex-start;
  }
}